<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Patient Registration Success</title>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<script type ="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type ="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>

		<div>&nbsp;</div>

		<div class="text-center">
			<h2>Patient Registration</h2>
			<h4>You have registered successfully as a patient</h4>
			<p>
				<a th:href="@{/login}">Login here</a>
			</p>
		</div>

		<div>&nbsp;</div>
			<p>Clinic Registration - Copyright &copy; Mok Zhi Zhuan</p>
		</div>
	</div>
</body>

</html>